#chat.modal.messages-modal.hide
  .modal-header
    button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
    h3 Сообщения
  .modal-body
    .container-fluid
        .row-fluid
            .span4
                ul.contacts.unstyled
                    each user in contacts
                        li
                            include conact_item
            .span8
                include message_area
    .toolbar
        .wrapper
            textarea.input-block-level
