.dialog-show.well.well-small.message-well
    .msg-holder
        ul.unstyled.msg-list
            - var cid = cid || null
            each msg in messages
                include dialog_message
    form#inline-message
        .send-message-block
            textarea.input-block-level(placeholder="введите сообщение...")
            button#sendonenter.btn.btn-small(data-toggle="button",type="button") Отсылать по Enter
            input.pull-right.btn.btn-success.btn-small(type='submit',value='Отправить',maxlength=1000)