.well.well-small.message-well
    form#inline-message
        .send-message-block
            textarea.input-block-level(disabled='disabled',,maxlength=1000)
            .row
                input.pull-right.btn.btn-success.btn-small(type='submit',value='Отправить',disabled='disabled')
