ul.unstyled
    if user.skype
        li
            strong Skype:&nbsp;
            = user.skype
    if user.email
        li
            strong E-mail:&nbsp;
            = user.email
    if user.icq
            strong ICQ:&nbsp;
            = user.icq
    if user.vk
            strong VK:&nbsp;
            = user.vk
    if user.jabber
            strong Jabber:&nbsp;
            = user.jabber
