if locals.chatAvailible
    span#msg.messages-indicator
        i.icon-envelope
        &nbsp;
        a(href='/chat') Мои сообщения&nbsp;
            span.msgcount (0)
    br
    span#msg.messages-indicator
        i.icon-group
        &nbsp;
        a(href='/chat-room') Общий чатик