.span3.text-right.text-vcenter
        if locals.currentUser && user._id.toString() === locals.currentUser._id.toString()
            i.icon-edit.muted &nbsp;
            a.muted(href='/register')Редактировать
        else
            i.icon-envelope.muted &nbsp;
            a.muted.send-message(href='#',data-contact-id=user._id.toString(),onclick="_gaq.push(['_trackEvent', 'Message', 'Open']);")
                Написать сообщение