.top-control.search
    .alert.alert-warning
        h1.text-center Я ищу
        .text-center
            span#sex.btn-group(data-toggle="buttons-radio")
                button.btn.btn-small.btn-warning(data-sex='male',class=locals.query.sex!=='female'&&locals.query.sex?'active':'') программиста
                button.btn.btn-small.btn-warning(data-sex='female',class=locals.query.sex=='female'?'active':'') программистку
                button.btn.btn-small.btn-warning(data-sex='',class=!locals.query.sex?'active':'') всех
        form#search(method='GET')
            input#sex-input(type='hidden',name='sex',value=locals.query.sex!=='female'?(!locals.query.sex?'':'male'):'female')
            input#lng(type='hidden',name='lng',value=locals.query.lng)
            input#lat(type='hidden',name='lat',value=locals.query.lat)
            p.text-center
                span От&nbsp;
                input.textual(type='text',name='agegt',value=locals.query.agegt)
                span &nbsp;до&nbsp;
                input.textual(type='text',name='agelt',value=locals.query.agelt)
                span &nbsp;лет и живущего/щую&nbsp;
                br
                span.geolocation
                    a#near-me.class(href='#') Рядом со мной
                    span &nbsp;или в&nbsp
                input#location.location.textual(type='text',name='query',value=locals.query.query)
            .text-center.search-control
                button.btn.btn-large.btn-warning(type='submit',onclick="_gaq.push(['_trackEvent', 'Search', 'Perform']);")
                    i.icon-search &nbsp;
                    span Искать!
            .text-center.search-hint
                Просто выбирайте то, что вам нужно. Результаты сразу появятся!
