script(src="//ulogin.ru/js/ulogin.js")
.well.well-small.message-well
    p Для того чтобы отправить сообщение войдите через любую социальную сеть или через&nbsp;
      i.icon-desktop
      &nbsp;терминал
    #uLogin.login.text-center(data-ulogin="display=panel;fields=first_name,last_name,email,photo;optional=bdate,sex,photo_big,city,country;providers=vkontakte,google,yandex,twitter,odnoklassniki,mailru,facebook;hidden=livejournal,openid,lastfm,linkedin,liveid,flickr,vimeo,youtube;callback=onAuthorized;redirect_uri=")
