if locals.authenticated
    span.user-menu Привет,&nbsp
        = locals.currentUser.name
        br
        a.exit(href='#/exit') Выйти
else if locals.profile
    span.user-menu
        //i(class='network-'+locals.profile.network)
        span
            Привет, #{locals.profile.first_name}
            br
            a.exit(href='#/exit') Выйти
else if !(locals.first_time && locals.path ==='/')
    span.user-menu С&nbsp;программистом?
        br
        a.what-for-help(href='#') Зачем мне это?