extends layout
block content
    h2 Вам пришло новое сообщение от:
    table(cellpadding="0",cellspacing="0",border="0",align="center")
        tr
            td(width="200",valign="top")
                - var photo=from.photo_big || from.photo;
                if photo
                    img.image_fix(src=photo, alt="Фото", title="Фото отправителя",width="200")
            td(width="50",valign="top")
            td(width="350",valign="top")
                span
                    =from.first_name
                     &nbsp;
                    =from.last_name
                    &nbsp;
                br
                a(href='mailto:'+from.email)
                    = from.email
                br
                span Ссылка на профиль:&nbsp;
                a(href=from.profile)
                    =from.network
    hr
    h2 Текст сообщения:
    p
        =text
