extends layout
block content
    h3 Восстановление пароля на LOVE++
    p Привет, вы (или кто то еще) попросили восстановить ваш пароль
    p Если это были не вы - просто игнорируйте это письмо, с вашем паролем все будет в порядке.
    p Для создания нового пароля введит ключ параметр <b>--key</b> команды в косноли
    h1
        =passwordKey