doctype 5
html
  head
    title Love++
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=latin,cyrillic', rel='stylesheet', type='text/css')
    !{css.renderTags()}
    link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    //if lt IE 8
        link(href='/font-awesome/css/font-awesome-ie7.min.css', rel='stylesheet', type='text/css')
    script(type="text/javascript",src="//vk.com/js/api/openapi.js?78")
    script(type="text/javascript")
        VK.init({apiId: 3421629, onlyWidgets: true});
    include includes/google
    script(type="text/javascript")
        _gaq.push(['_trackEvent', 'Error', 'Opened','']);
  body
    .container
        .row.top
            p.top-text Фейсконтроль: только настоящие программисты смогут пройти регистрацию
        .row.logo
            .span8.offset2
                h1.logo-text
                    a(href='/')
                        span Love++<br/>
                            span.logo-subtext Познакомься с программистом
        .row
            .content
                .container-fluid
                    h1.text-center Произошла ошибка!
                    p.text-center.muted Очень сожалеем об этом. Скоро все будет хорошо
    .footer
        .container
            .row
                .span4
                    include includes/like
                .span4.text-center
                    &copy;&nbsp;Лав плюс плюс, 2013
                    br
                    a(href='http://vk.com/loveplusplus',target='_blank') Группа вконтакте
                    br
                    a(href='mailto:love.plus.plus@yandex.ru') E-mail для связи
                .span4
                    span Дизайн:&nbsp;
                        a(href='http://rapidograph.ru/')Студия Рапидограф
