extends layout

block content
    .row
      h1.text-center.main-title Познакомься с программистом
      hr
      p.text-center
        | Вы спросите почему? У нас есть ответы! Программист идеальный
        | <strong>муж</strong>
        | потому что:
      .row
        ol.span7.offset3.features
            li Программисты обычно зарабатывают много денег, и не умеют их тратить
            li Они очень умны
            li В большинстве своем они не пьют и не курят
            li Они не гуляют
            li Все что вам нужно это иногда давать им еду
            li: a(href='/more') посмотреть рассширенный список!
      .row.space
        .span4.offset2
            a.btn.btn-block.btn-warning.btn-large(href='/catalog') Просмотреть каталог
        if locals.authenticated
            .span4.offset1
                a.btn.btn-block.btn-success.btn-large.pull-right(href='/profile/'+locals.user._id) Перейти к моему профилю
        else
            .span4.offset1
                a.btn.btn-block.btn-success.btn-large.pull-right(href='/register') Зарегистрироваться
      .row.space
        blockquote.offset2.span9
         p
            И, наконец, главное, что нужно помнить.
            Дело в том, что вы влюбились в очень умного чувака.
            Like, ОЧЕНЬ умного. По сравнению с ним все другие чуваки вам будут теперь казаться немножечко туповатыми.
            Ну или не немножечко. То есть — вот сейчас слушайте очень внимательно — после него полюбить не-программиста вам уже будет если не невозможно,
            то по крайней мере очень сильно западло.
         small (c) paola_maldini
