doctype 5
html
  head
    title Love++
    meta(property="og:site_name",content="LOVE++")
    meta(property="fb:admins",content="100001069860010")
    block meta
        meta(property="og:title",content="LOVE++")
        meta(property="og:type",content="website")
        meta(property="og:url",content="http://loveplusplus.ru/")
        meta(property="og:image",content="")
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=latin,cyrillic', rel='stylesheet', type='text/css')
    != renderStyles()
    link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    //if lt IE 8
        link(href=static('/font-awesome/css/font-awesome-ie7.min.css'), rel='stylesheet', type='text/css')
    block styles
    script(type="text/javascript",src="//vk.com/js/api/openapi.js?78")
    script(type="text/javascript")
        VK.init({apiId: 3421629, onlyWidgets: true});
        window._csrf='#{locals._csrf}';
        window.canChat = #{locals.chatAvailible?true:false};
    include includes/google
    script(src=static('/javascripts/modernizr.custom.js'))
  body
    .container
        .row.top
            p.top-text Фейсконтроль: только настоящие программисты смогут пройти регистрацию
            .what-for
                .alert.alert-info
                  .button(type="button",class="close") &times;
                  h1 Для девушек
                  p Программисты зарабатывают много денег, и не умеют их тратить.
                    Они спокойны, надежны и очень умны. Любая проблема обычного человека является элементарной для программиста.
                    Программисты умеют находить решение любой проблемы в считанные минуты.
                    Женщины, решающие связать свою жизнь с программистами, автоматически выбирают счастье и благополучие до конца жизни. Программист&nbsp;&mdash;&nbsp;это идеальный муж!
                  h1 Для программистов
                  div.
                    <pre><code>if you.areAlone
                        location.href = '<a href='/register'>http://loveplusplus.ru/register</a>'
                        if you.haveRegistered
                            while you.areAlone
                                wait()
                                checkEmail()
                                findYourLove()
                            liveLongAndProsper()</code></pre>
        .row.logo
            .span3
                include includes/message_count
            .span6
                h1.logo-text
                    a(href='/')
                        span Love++<br/>
                            span.logo-subtext Познакомься&nbsp;с&nbsp;программистом
            .span3
                .profile-menu.pull-right
                    include includes/user_menu
        .row
            .span12
                .btn-group.controls
                    - var isProfilesActive = path ==='/' || path.indexOf('/send/')===0
                    - var isRegisterActive = path.indexOf('/profile/')===0 || path.indexOf('/register')===0
                    a.btn(href='/',class=isProfilesActive?'active':'')
                        i.icon-heart
                        &nbsp;Анкеты
                    a.btn(href='/register',class=isRegisterActive?'active':'')
                        i.icon-desktop
                        &nbsp;Терминал
        .row
            block full-content
                .content
                    if locals.first_time && locals.path ==='/'
                        include includes/firsttime
                    include includes/announces
                    .container-fluid
                        block content

    .footer
        .container
            .row
                .span4
                    include includes/like
                .span4.text-center
                    &copy;&nbsp;Лав плюс плюс, 2013
                    br
                    a(href='http://vk.com/loveplusplus',target='_blank') Группа вконтакте
                    br
                    a(href='mailto:love.plus.plus@yandex.ru') E-mail для связи
                .span4
                    span Дизайн:&nbsp;
                        a(href='http://rapidograph.ru/')Студия Рапидограф
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(type="text/javascript")
        if (typeof jQuery == 'undefined') {
            document.write(unescape("%3Cscript src='/javascripts/jquery-1.8.3.min.js' type='text/javascript'%3E%3C/script%3E"));
        }
    script(src='/templates.js')
    script(src='http://cdn.sockjs.org/sockjs-0.3.min.js')
    != renderJs()
    block scripts
    if locals.chatAvailible
        script(src='/chat_init.js?callback=chat.start')
    block chatscripts

