extends layout
block meta
    - var imgUrl = user.photo? user.photo:'http://www.gravatar.com/avatar/'+user.hash+'?s=100&d=retro';
    meta(property="og:title",content="Love++ "+user.name)
    meta(property="og:url",content="http://loveplusplus.ru"+locals.path)
    if user.geo && user.geo.length === 2
        meta(property="og:latitude",content=user.geo[1])
        meta(property="og:longitude", content=user.geo[0])
block content
  .row-fluid
    include includes/profile
  hr.catalog-separator
  .row-fluid
        - var isSent = locals.sent || false;
        if isSent
             .success-sent
                 h2.text-success.text-center Сообщение отправлено!
        else
            h1 Отправить сообщение
            if !locals.profile
                p Для отправки сообщения вам необходимо войти через какую-либо социальную сеть,
                  br
                  и тогда вы сможете отправлять сообщения всем программистам.
                  include includes/ulogin
            else
                p Введите ваше сообщение и нажмите кнопку "Отправить!"
                  br
                  span.muted (она внизу, под полем для ввода сообщения)
                if locals.profile
                    p Вы пишете от имени&nbsp;
                        i(class='network-'+locals.profile.network)
                        =locals.profile.first_name
                        &nbsp;
                        =locals.profile.last_name
                form(method='POST', action=locals.path)
                    input(type='hidden',value=locals._csrf,name='_csrf')
                    .message-control
                        textarea.message.input-block-level(name='message')
                    .send-control
                        button.btn.btn-block.btn-large.pull-right(type='submit',onclick="_gaq.push(['_trackEvent', 'Message', 'Send']);")
                            i.icon-envelope &nbsp;
                            Отправить!
  hr.catalog-separator
  .row-fluid
       #sharer
          .span6
              Расскажи своим друзьям об этом программисте
          .offset4.span2
              #vk_profile_like
block scripts
    script(type="text/javascript")
        VK.Widgets.Like("vk_profile_like", {type: "mini", height: 20,
            pageTitle:"Love++ #{user.name}",
            pageDescription: '#{user.about}',
            pageImage: '#{imgUrl}',
            pageUrl:"http://loveplusplus.ru#{locals.path}"
            });