extends layout
block content
   .terminal-wrapper
        #terminal.terminal(style='height:320px')
   p Регистрация доступна только для программистов, поэтому, чтобы зарегистрироваться или войти,
     вам надо выполнить небольшое упражнение.
block scripts
    script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCnnSHEZRx-4ZjbrHP_tXQhj0knNAIdIio&sensor=true&language=ru")
    != renderJs('terminal')
