extends layout
block content
    h1.text-center Удаление профиля
    p.text-center.muted
        Вы удаляете свой профиль? Что ж, нам очень жаль.
        br
        Введите слово "УДАЛИТЬ" (да-да, прямо так, большими буквами) и нажмите кнопку.
    form(method='POST', action=locals.path)
        input(type='hidden',value=locals._csrf,name='_csrf')
        .message-control
            input.full-page.input-block-level(type='text',name='delete',placeholder='УДАЛИТЬ')
        .send-control
            button.btn.btn-block.btn-large.pull-right(type='submit',onclick="_gaq.push(['_trackEvent', 'Delete profile', 'Delete confirm']);")
                i.icon-remove-circle &nbsp;
                Удалить навсегда!