extends layout
block content
    h1.text-center E-Mail успешно валидирован!
    p.text-center.muted теперь ваша анкета попадает в список всех анкет!
        br
        if locals.authenticated
            a(href='/profile/'+locals.currentUser._id) Перейти к профилю