html {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

body {
    min-height: 100%;
    position: relative;
}

body > .container {
    padding-bottom: 80px;
}

body {
    font-family: 'PT Sans', sans-serif;
    background: #50494b url('/images/bkgrnd2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src = '/images/bkgrnd2.jpg', sizingMethod = 'scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bkgrnd2.jpg', sizingMethod='scale')";
    /*-ms-behavior: url('/polyfill/backgroundsize.min.htc');*/
}

h1, h2, h3, h4, h5 {
    font-family: 'PT Sans Caption', sans-serif;
    text-shadow: rgba(255, 255, 255, 0.2) 0px 0px 1.5px;
    line-height: 24px;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.space {
    margin-top: 80px;
}

.avatar-wrapper {
    position: relative;

}

.avatar-frame {
    display: inline-block;
}

.avatar-frame, .avatar-frame img, .avatar-frame div {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    -webkit-border-radius: 50%; /* Saf3+, Chrome */
    border-radius: 50%; /* Opera 10.5, IE 9 */
    /*-moz-border-radius: 30px; Disabled for FF1+ */
    background: transparent no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100px;
    height: 100px;
    float: left;
    /*-ms-behavior: url('/polyfill/backgroundsize.min.htc');*/
}

.avatar-frame div {
    margin-top: -51px;
    width: 102px;
    height: 102px;
    margin-left: -1px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.avatar-frame div:hover {
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    z-index: 100;
    margin-left: -50px;
    border-radius: 5px;
}

.avatar-frame img {
    background-color: transparent;
}

.profile-info-list {
    padding-left: 140px;
    min-height: 104px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.top {
    position: relative;
}

.what-for {
    position: absolute;
    top: 100%;
    margin-top: -18px;
    z-index: 100;
    display: none;
}

.what-for .alert {
    background-color: #43687b;
    border-radius: 10px 10px 0 0;
    border: none;
    color: #FFF;
    line-height: 20px;
    font-size: 14px;
    text-shadow: none;
}

.what-for pre {
    padding: 0;
    background-color: transparent;
    color: #fff;
    border: none;
}

.what-for pre a {
    color: #fff;
    font-weight: bold;
}

.top-control {
    margin: -20px -20px 0px;
}

.top-control .alert {
    border: none;
    line-height: 20px;
    font-size: 13px;
    position: relative;
    min-height: 180px;

}

.content .top-control:first-child .alert {
    border-radius: 10px 10px 0 0;
}

.top-control .alert .select {
    padding: 16px;
    padding-right: 0px;
}

.top-control .alert .select p {
    margin-bottom: 30px;
}

.top-control .alert .select .btn {
    width: 240px;
    height: 80px;
    padding: 3px;
}

.top-control .alert .select .btn small {
    font-size: 11px;
    font-style: italic;
    opacity: 0.9;
}

.what-for .alert h1, .what-for .alert h2, .what-for .alert h3 {
    font-size: 16px;
}

.top-text {
    color: #FFF;
    font-size: 13px;
    padding-bottom: 18px;
    padding-top: 24px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.4);
}

.logo {
    margin-top: 40px;
    margin-bottom: 20px;
    position: relative;
}

.logo-text {
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 9px;
    font-size: 60px;
    margin-bottom: 10px;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.logo-text a:hover {
    opacity: 0.8;
}

.logo-text a, .logo-text a:visited, .logo-text a:active {
    text-decoration: none;
    color: #FFF;
}

.logo-text a span {

}

.logo-subtext {
    font-size: 12px;
    color: #FFF;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    white-space: nowrap;
}

.user-menu {
    font-size: 12px;
    color: #FFF;
    text-align: left;
}

.user-menu a {
    text-align: left;
    text-decoration: underline;
}

.controls {
    text-align: center;
    display: block;
}

.controls > .btn {
    float: none;
    font-size: 16px;
    padding: 15px;
    font-weight: bold;
    display: inline-block;
    width: 110px;
    background: #fff;
}

.controls > .btn.active, .controls > .btn:hover {
    color: #00adee;
    background: #f5f5f5;
    box-shadow: none;
}

.content {
    margin-top: 30px;
    background: #fff;
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    min-height: 600px;
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: 50px;
    position: relative;
}

.content .container-fluid {
    margin-bottom: 50px;
}

.catalog-separator {
    margin: 15px -28px 15px;
}

.profile-info-list .profile-info-username {
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: capitalize;
    font-size: 14px;
}

.profile-info-list .profile-info-username .age {
    text-transform: none;
}

.pagination {
    width: 100%;
}

#profiles .pagination:last-child {
    margin-bottom: 0px;
    position: absolute;
    bottom: 20px;
    left: 0;
}

.pagination ul {
    box-shadow: none;
    border-radius: 0;
}

.pagination ul li a, .pagination ul li span {
    color: #888888;
    margin: 0 8px;
    padding: 5px 18px;
    border: none;
    background-color: #f5f5f5;
    border-radius: 5px;
    font-size: 13px;
}

.pagination ul li.active a, .pagination ul li.active span {
    color: #00adee;
    font-weight: bold;
}

.contacts-inprofile {
    margin-top: 30px;
    margin-bottom: 30px;
}

.text-vcenter {
    height: 80px;
    padding: 5% 0;
}

.text-vcenter > div {
    padding: 10% 0;
}

.message-control textarea {
    box-sizing: border-box;
    width: 100%;
    height: 200px;
}

.send-control button.btn {
    font-size: 14px;
    padding: 15px;
    font-weight: bold;
    display: inline-block;
    color: #00adee;
    background: #f5f5f5;
    box-shadow: none;
}

.success-sent {
    height: 200px;
    padding: 5% 0;
}

.success-sent > * {
    padding: 10% 0;
}

.footer {
    width: 100%;
    height: 60px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
}

.footer a {
    color: #fff;
    text-decoration: underline;
}

.terminal {
    position: absolute;
    top: 21px;
    left: 24px;
    right: 21px;
    border: solid 1px #444;
}

.terminal .cmd div {
    display: inline;
    word-wrap: break-word;
}

.terminal-wrapper {
    margin: -20px -68px 2em;
    width: 650px;
    height: 526px;
    background: transparent url('/images/screen.png') center center no-repeat;
    position: relative;
}

span.label {
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}

.about {
    word-wrap: break-word;
    max-height: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.search {
    margin: -28px -28px 0px;

}

.search .alert {
    min-height: 0px;
}

.search p {
    line-height: 30px;
}

.search input[type='text'].textual {
    width: 20px;
    line-height: 14px;
    border: none;
    border-bottom: solid 1px #c09853;
    border-radius: 0;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    font-size: 13px;
    padding: 0 5px;
    vertical-align: middle;
    margin-bottom: 0px;
}

.search input[type='text'].textual:active, .search input[type='text'].textual:focus {
    border-bottom: solid 2px #c09853;
    box-shadow: none;
    outline: none;
}

.search input[type='text'].location.textual {
    width: 300px;
}

.search a {
    color: #c09853;
    text-decoration: underline;
    font-weight: bold;
}

.top-control.info .alert {
    min-height: 0px;
}

i[class^="network-"] {
    background: transparent url('/images/socialicons.png') 0 0 no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: top;
    margin: 2px 5px 0 0;
}

i.network-vkontakte {
    background-position: 0 -19px;
}

i.network-odnoklassniki {
    background-position: 0 -34px;
}

i.network-mailru {
    background-position: 0 -65px;
}

i.network-facebook {
    background-position: 0 -88px;
}

i.network-twitter {
    background-position: 0 -111px;
}

i.network-google {
    background-position: 0 -134px;
}

i.network-yandex {
    background-position: 0 -157px;
}

i.network-livejournal {
    background-position: 0 -180px;
}

i.network-openid {
    background-position: 0 -203px;
}

i.network-lastfm {
    background-position: 0 -272px;
}

i.network-linkedin {
    background-position: 0 -295px;
}

i.network-liveid {
    background-position: 0 -318px;
}

i.network-soundcloud {
    background-position: 0 -341px;
}

i.network-steam {
    background-position: 0 -364px;
}

i.network-flickr {
    background-position: 0 -249px;
}

i.network-vimeo {
    background-position: 0 -387px;
}

i.network-youtube {
    background-position: 0 -433px;
}

i.network-webmoney {
    background-position: 0 -410px;
}

.geolocation {
    display: none;
}

.feature-geolocation .geolocation {
    display: inline;
}

.search-control {
    display: block;
}

.feature-history .search-control {
    display: none;
}

.search-hint {
    display: none;
}

.feature-history .search-hint {
    display: block;
}

.icon-online {
    color: #f09513;
}

.messages-indicator {
    color: #fff;
    font-size: 12px;
}

.messages-indicator a {
    color: #fff;
    font-size: 12px;
    text-decoration: underline;
}

.messages-modal {
    width: 576px;
    margin-left: -292px;
    top: 50%;
    margin-top: -300px;
    background: #fcf8e3;
    border: none;
    border-radius: 10px;
}

.modal.fade.in {
    top: 50%;
    margin-top: -300px;
}

.messages-modal .modal-body {
    max-height: 500px;
    min-height: 500px;
    height: 500px;
}

.messages-modal .modal-header {
    border-bottom: solid 1px #c09853;
    background-color: #ebe7d2;

}

.contact-wrapper {
    position: relative;

}

.contact-frame {
    display: inline-block;
}

.contact-frame, .contact-frame img, .contact-frame div {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    -webkit-border-radius: 50%; /* Saf3+, Chrome */
    border-radius: 50%; /* Opera 10.5, IE 9 */
    /*-moz-border-radius: 30px; Disabled for FF1+ */
    background: transparent no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 30px;
    height: 30px;
    float: left;
    /*-ms-behavior: url('/polyfill/backgroundsize.min.htc');*/
}

.contact-frame div {
    margin-top: -16px;
    width: 32px;
    height: 32px;
    margin-left: -1px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.contact-frame img {
    background-color: transparent;
}

.contact-info-list {
    padding-left: 40px;
    min-height: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.message-area {
    background-color: #fff;
    height: 400px;
    overflow-y: auto;
}

.message-area li:nth-child(odd) {
    background-color: #f9f9f9;
}

.modal-scrollable .modal.messages-modal {
    min-height: 100%;
}

.modal-scrollable .modal.messages-modal.modal-overflow.modal.in {
    top: 0;
}

.modal-scrollable .modal.messages-modal .modal-body {
    height: auto;
    max-height: none;
    min-height: inherit;
    position: static;
}

.modal-scrollable .modal.messages-modal .container-fluid {
    padding-bottom: 80px;
}

.modal-scrollable .modal.messages-modal .toolbar {
    width: 550px;
    height: 80px;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
}

.modal-scrollable .modal.messages-modal .toolbar .wrapper {
    margin: 0 10px;
}

.modal-scrollable .modal.messages-modal .toolbar textarea {
    height: 80px;
    position: relative;
}

.modal-scrollable .modal.messages-modal .message-area {
    background: transparent;
    height: auto;
}
/*inline messages*/
.message-well, .message-status {
    margin-top: 10px;
}

.message-well form {
    margin-bottom: 5px;
}

i.unread{
    font-weight: bold;
    color: #F00;
}

.msg-holder{
    height: 400px;
    overflow-y: auto;
    margin-bottom: 10px;
    word-wrap: break-word;
    overflow-x: hidden;
    background-color: #fff;
    border: solid 1px #aaa;
}

.msg-list li.msg{
    padding:5px 15px
}

.msg {
    border-top: dotted 1px #AAA;
}

.msg-list > .msg:nth-child(odd) {
    background-color: #f9f9f9;
}

.msg-list > .msg.from-me{
    background-color: #fcf8e3;
}

.contact-info-username {
    font-size: 14px;
    margin: 0;
}

.browser-notification {
    display: none;
}

.common-chat {
    margin-top: 30px;
}

.common-chat .msg-holder {
    height: 500px;
}

textarea {
    resize: none;
}

.msg-list > .msg.msg-system.msg-system-info{
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.msg-list > .msg.msg-system.msg-system-error{
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.online-count {
    color: #fff;
}