.terminal .clipboard {
    position: absolute;
    bottom: 0;
    left: -1000px;
    opacity: 0.01;
    filter: alpha(opacity = 0.01);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.01);
    width: 2px;
}
.cmd > .clipboard {
    position: fixed;
}
.terminal {
    padding: 10px;
    position: relative;
    overflow: hidden;
}
.cmd {
    padding: 0;
    margin: 0;
    height: 1.3em;
}
.terminal .terminal-output div div, .terminal .prompt {
    display: block;
    line-height: 9px;
    height: 14px;
}
.terminal {
    font-family: FreeMono, monospace;
    color: #aaa;
    background-color: #000;
    font-size: 14px;
    line-height: 18px;
}
.terminal .terminal-output div span {
    display: inline-block;
}
.terminal .cmd span {
    display: inline-block;
}
.terminal .cmd span.inverted {
    background-color: #aaa;
    color: #000;
}
.terminal .terminal-output div div::-moz-selection, .terminal .terminal-output div span::-moz-selection {
    background-color: #aaa;
    color: #000;
}
.terminal .terminal-output div div::selection, .terminal .terminal-output div span::selection,
.terminal .cmd > span::selection, .terminal .prompt span::selection {
    background-color: #aaa;
    color: #000;
}
.terminal .terminal-output div.error, .terminal .terminal-output div.error div {
    color: red;
}
.tilda {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
}
.clear {
    clear: both;
}
.terminal a {
    color: #0F60FF;
}
.terminal a:hover {
    color: red;
}